<nav>
  <ul>
  {%- for nav in collections.nav | sort(attribute="date") -%}
    <li>
      <a href="{{ nav.url | url }}"{% if nav.url == page.url %} data-current="current item"{% endif %}>
        {{ nav.data.navtitle }}
      </a>
    </li>
  {%- endfor -%}
    <li>
      <a href="https://instagram.com/beatmapband/">
        instagram
      </a>
    </li>
  </ul>
</nav>
